* {
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: white;
    height: 72px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    align-items: center;
    top: 0%;
}
.navbar2{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 72px;
    display: none;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    top: 0%;

}

.nav_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    font-size: 1.6vw;
    background-color: white;
    border: none;

}
.nav_button1{
    padding: 0;
    display: block;
    display: flex;
    justify-content: left;

    align-items: center;
}
.navbar2 div{
    background-color: black;
    color: white;
    font-size: 4vw;
    cursor: pointer;
     display: flex;
     justify-content: left;
}
.nav2_img{
  width: 40px;
 height: 40px;
 margin: 10px;
}
.navbar2 .navImg{
    width: 6%;
    margin: 10px;

}
.nav2_child1{
    
}
.nav_link button {
    font-size: 1.4vw;
    background-color: white;
    border: none;
    font-weight: bold;
    color: rgb(91, 90, 90);
    cursor: pointer;

}

.nav_button span {
    margin: 5px;
    font-size:1.6vw;
    font-weight: bolder;
}

.navImg,
.footImg {
    width: 2vw;
}

.span1 {
    color: black;
}


.container1 {
    background-color: rgb(59, 59, 141);
    height: auto;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;


}

.child1 {
    background-color: rgb(59, 59, 141);
    width: 50%;
    text-align: center;
    padding-top: 150px;


}

.child2 {
    background-color: rgb(59, 59, 141);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;

}

.working_woman {
    width: 30vw;
    border-radius: 10px;
    margin-top: 70px;
}

.Revolutionise {
    color: white;
    font-weight: 100;
    font-size: 6vw;
    margin: 10px;
}

.tech {
    color: white;
    font-weight: bolder;
    font-size: 4vw;
    margin: 10px;
}

.para {
    color: white;
    margin: 40px;
    font-size: 2vw;
}

.exp {
    background-color: rgb(249, 190, 13);
    width: 9vw;
    padding: 7px;
    border-radius: 10px;
}

.exp :hover {
    color: red;


}

.container2 {
    display: flex;
    text-align: center;
}

.head2 {
    margin-top: 10px;
    text-align: center;
    font-weight: 100;
    color: rgba(0, 0, 0, .7);
}

.companies {
    color: black;
    font-weight: bold;

}

.top_company1 {
    width: 40%;
    margin-left: 10%;
}

.top_company2 {
    margin-right: 10%;
    width: 40%;
}

.container3 {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 59, 141);
}

.child3 {
    width: 50%;
    text-align: center;

}

.child4 {
    width: 50%;
}

.stud {
    width: 30vw;
    border-radius: 15px;
}

.cont3head1 {
    font-weight: bold;
    font-size: 7vw;
    color: white;
    margin: 10px;
}

.cont3head2 {
    font-weight: 100;
    font-size: 4vw;
    color: white;
    margin: 10px;
}

.cont3para1 {
    font-weight: 100;
    font-size: 2vw;
    color: white;
    margin: 10px;
}

.container4 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;

}

.cont4chil1 {
    width: 25%;
    background-color: rgba(128, 128, 128, 0.34);
    align-items: center;
    margin: 20px;
    display: inline-block;
    border-radius: 15px;
    padding: 20px;
    position: static;

}


li {
    font-size: 2vw;
    text-align: left;
    margin: 3px;
}

.cont4head1 {
    font-size: 5vw;
    font-weight: bolder;
    text-align: center;
    margin-top: 15px;
}

.cont4para {
    font-size: 1.5vw;
}

.subhead1 {
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.628);
}

.childButton {
    background-color: rgba(60, 60, 190, 0.868);
    width: 9vw;
    padding: 5px;
    color: white;
    font-weight: lighter;
    font-size: 1.5vw;
    border-radius: 15px;
    margin-top: 25px;



}

.cont4head2 {
    color: rgb(45, 45, 176);
    font-size: 2.5vw;
}

.container5 {
    background-color: rgb(59, 59, 141);
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.cont5head {
    font-size: 6vw;
    font-weight: bolder;
}

.cont5par {
    margin: 10px;
}

.cont5div {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.cont5par {
    font-size: 2vw;
    margin: 10px;
}

.container6 {
    display: flex;
    text-align: center;
    background-color: white;

}

.techHead {
    text-align: center;
    margin-top: 15px;
    font-size: 5vw;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.671);
}

.subTech {
    font-weight: bold;
    color: black;
}

.newAge {
    width: 25%;
    height: 300px;
    background-color: white;
    align-items: center;
    margin: 20px;
    display: inline-block;
    border-radius: 15px;
    padding: 20px;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.111);
    

}

.myName {
    margin: 5px;
}

.myimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.container7 {
    display: flex;
    justify-content: center;
}

.cont7child1 {

    margin: 10px;
    width: 50%;
    text-align: center;
    padding: 30px;
}

.newteam {
    width: 100%;
    height: 90%;
    border-radius: 15px;


}

.join {
    background-color: rgb(59, 59, 141);
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    color: white;
}

.join :hover {
    background-color: white;
}

.heading {
    font-size: 6vw;
}

.subhead {
    color: rgba(0, 0, 0, 0.689);
    font-weight: lighter;
}

.container8 {
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footerdiv {

    width: 30%;
    margin: 10px;
    text-align: left;
    color: white;
    padding: 50px;

    display: inline-block;
}
.copyright{
    background-color: black;
    color: white;
    text-align: center;
   padding-bottom: 20px;
}
.foot{
    background-color: black;
  
}
.foot table{
    margin-left: 40%;
}
td{
    cursor: pointer;
}
@media screen and (max-width: 580px) {
    .container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .child1 {
        width: 100%;
    }

    .child2 {
        width: 100%;
    }
    .Revolutionise{
        font-size: 9vw;
    }
    .tech{
        font-size: 6vw; 
    }
    .para{
        font-size: 3vw;  
    }

    .child2 img {
        width: 60%;
    }

    .exp {
        width: 15vw;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top_company1 {
        margin-left: 0;
        width: 80%;
    }

    .top_company2 {
        margin-right: 0;
        width: 80%;
    }

    .stud {
        width: 120%;
    }


    .container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cont3head1 {
        text-align: center;
        font-size: 8vw;
    }

    .cont3head2 {
        text-align: center;
        font-size: 6vw;
    }

    .cont3para1 {
        text-align: center;
        font-size: 3vw;
    }

    .container4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cont4chil1 {
        width: 45%;
    }

    li {
        font-size: 3vw;
    }

    .cont4head2 {
        font-size: 4vw;
    }

    .cont4para {
        font-size: 2.5vw;
    }

    .container5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container6{
  display: flex;
  flex-direction: column;
  align-items: center;
    }
    .newAge{
        width: 50%;
    }
    .container7{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .newteam {
        width: 100%;
        height: 30vw;
    }
    .container8{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerdiv{
        width: 50%;
        text-align: center;
        padding: 15px;
    }
    .footImg{
        width: 5vw;
    }
    .foot table{
        margin-left: 25%;
    }
    .navbar{
        display: none;
    }
    .navbar2{
        display: flex;
    }
}
